@charset "UTF-8";
 *{
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    ::-webkit-scrollbar{ /* Estiliza a barra de rolagem */
        width: 0px; 
        height: 0px;
    }
    img {
        width: 100vw;

    }
    a{
        padding: 20px;
        display: block;
        color: red;
        background-color:lightblue;
        width: 100vw;
        text-align: center;
        text-decoration: none;
        font-weight:bold;
    }